{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>{{ content.title }}</h1>
            <div class="d-flex gap-2 my-3">
                {% if content.is_paid %}
                    <span class="badge bg-warning text-dark">Платный контент</span>
                {% else %}
                    <span class="badge bg-success">Бесплатный</span>
                {% endif %}
            </div>
            {% if content.preview %}
            <img class="bd-placeholder-img card-img-top" width="100%" height="auto%" src="{{ content.preview.url }}">
            {% endif %}
            <div class="mt-4">
                <p>{{ content.description }}</p>
                {% if content.content_file %}
                    <a href="{{ content.content_file.url }}" class="btn btn-primary">Скачать файл</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}